DevGeekWeek2016Demos/OzCode/ExecutionContext/TryHardToSaveGuids/Service References/SaveALostGuidService/SaveALostGuid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaveALostGuid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaveALostGuid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LostGuidStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="LostGuids" type="xs:long" />
      <xs:element minOccurs="0" name="SavedGuids" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LostGuidStatistics" nillable="true" type="tns:LostGuidStatistics" />
</xs:schema>