DevGeekWeek2016Demos/OzCode/ExecutionContext/TryHardToSaveGuids/Service References/SaveALostGuidService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SaveALostGuid" />
  <xs:element name="GetGuid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGuidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostGuidStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLostGuidStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SaveALostGuid" minOccurs="0" name="GetLostGuidStatisticsResult" nillable="true" type="q1:LostGuidStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>