DevGeekWeek2016Demos/OzCode/ExecutionContext/TryHardToSaveGuids/Service References/SaveALostGuidService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaveGuid" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SaveALostGuid" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaveGuid_GetGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuid" />
  </wsdl:message>
  <wsdl:message name="ISaveGuid_GetGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ISaveGuid_GetLostGuidStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLostGuidStatistics" />
  </wsdl:message>
  <wsdl:message name="ISaveGuid_GetLostGuidStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLostGuidStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaveGuid">
    <wsdl:operation name="GetGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaveGuid/GetGuid" message="tns:ISaveGuid_GetGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaveGuid/GetGuidResponse" message="tns:ISaveGuid_GetGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLostGuidStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaveGuid/GetLostGuidStatistics" message="tns:ISaveGuid_GetLostGuidStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaveGuid/GetLostGuidStatisticsResponse" message="tns:ISaveGuid_GetLostGuidStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaveGuid" type="tns:ISaveGuid">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGuid">
      <soap:operation soapAction="http://tempuri.org/ISaveGuid/GetGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLostGuidStatistics">
      <soap:operation soapAction="http://tempuri.org/ISaveGuid/GetLostGuidStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaveGuid">
    <wsdl:port name="BasicHttpBinding_ISaveGuid" binding="tns:BasicHttpBinding_ISaveGuid">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SaveALostGuid/SaveGuid/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>